table.cciaa_topic_view {
	border: 0;
	width: 97%;
}
table.cciaa_topic_view td {
	border-bottom: 1px dashed #999;
	padding: 0.8em 0.5em;
}

table.cciaa_topic_view .tImage {
	border:0;
	margin:0;
	padding:0;
}
.center {
	text-align: center;
	width:5%
}
table.cciaa_topic_view .title_item {
	font-size: 1.2em;
}

table.cciaa_topic_view .dataNews {
	float: right;
	margin: 0px;
	color: #666;
	text-align: right;
	font-weight: bold;
}
