@import '~antd/dist/antd.css';


.header-light {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: #fff;
  -webkit-box-shadow: 0 2px 8px #f0f1f2;
  box-shadow: 0 2px 8px #f0f1f2;
  position: relative;
  z-index: 10;
  max-width: 100%;
}

.logo {
  width: 120px;
  height: 31px;
  background: rgba(255,255,255,.2);
  margin: 16px 24px 16px 0;
  float: left;
}

.right {
  float: right;
  height: 100%;
}