.taggle_textarea {
  width: 100%;
  height: auto;
  overflow: hidden;
  border: 1px solid #ccc;
}

.taggle {
  color: #3E6D8E;
}

.taggle_list {
  float: left;
  padding: 3px;
  margin: 0;
  width: 100%;
  box-sizing: content-box;
}

.taggle_input {
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 300;
}

.taggle_list li {
  float: left;
  display: inline-block;
  white-space: nowrap;
  font-weight: 500;
  margin-bottom: 5px;
}

.taggle_list .taggle {
  font-weight: 200;
  margin-right: 8px;
  background-color: #E0EAF1;
  padding: 5px 10px;
  padding-right: 15px;
  border-radius: 0;
  position: relative;
  cursor: pointer;
  transition: all .3s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.taggle_list .taggle_newtag {
  background-color: #3a6482 !important;
  color: white !important;
}

.taggle_list .taggle_postit {
  background-color: gold !important;
}

.taggle_list .taggle_hot {
  background: #BDD0DD;
}

.taggle_list .taggle .close {
  font-size: 1.5rem;
  position: absolute;
  top: 3px;
  right: 3px;
  text-decoration: none;
  padding: 0;
  line-height: .1rem;
  color: #aaa;
  border: 0;
  background: none;
  cursor: pointer;
  display: block;
  border-radius: 1.3rem;
  width: 1.3rem;
  height: 1.3rem;
  opacity: unset;
}

.taggle_list .taggle .close:hover {
  background: #C03434;
  color: #fff;
}

.taggle_placeholder {
  position: absolute;
  color: #CCC;
  /* top: 12px; */
  padding: 3px;
  left: 15px;
  transition: opacity, .25s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.taggle_input {
  padding: 8px;
  padding-left: 0;
  float: left;
  margin-top: -5px;
  background: none;
  width: 100%;
  max-width: 100%;
}

.taggle_sizer {
  padding: 0;
  margin: 0;
  position: absolute;
  top: -500px;
  z-index: -1;
  visibility: hidden;
}
