.wrapper {
    overflow: scroll;
}

.wrapped {
    word-break: break-word;
}

.table thead th {
    position: sticky; 
    top: 0;
    position: -webkit-sticky;
    background-color: white;
    white-space: nowrap;
}

img {
    max-width: 100%;
}

pre {
    word-break: break-word;
}

#tableArea {
    margin-left: 10px;
    margin-right: 50px;
}